.h1{
    padding-top: 40px;
    font-size: $defaultFontSize;
    color: $defaultBlueColor;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.photo-text1{
    font-size: 30px;
    color: $defaultBlueColor;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif; 
}
.photo-text-long{
    font-size: 14px;
    color:$defaultBlueColor ;
    padding-top: 20px;
    max-width: 900px;
    line-height: 18px;
    font-family: 'Montserrat', sans-serif;
}
.h2{
    color:$defaultBlueColor ;
    font-size:$defaultFontSize ;
    text-transform: uppercase;
    margin-top: 40px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.photo-text{
    margin-left: 16%;
}
.page2-wrapper1{
    height: 280px;
}
.page2-text1{
    font-size: $defaultFontSize;
    color: $defaultBlueColor;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}
.page2-text2{
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color:$defaultBlueColor ;
}
.page2-text3{
    margin-top: 30px;
    font-size: $defaultFontSize;
    font-family: 'Roboto Condensed', sans-serif;
    color:$defaultBlueColor ;
    max-width: 420px;
    line-height: 17px;
    letter-spacing: 0.5px;
}
.page2-wrapper-box{
    display: flex;
    flex-wrap: wrap;
    margin-left: 16%;
    margin-top: 130px;
}
.wrapper-move-flex{
    margin-left: 60px;
    margin-bottom: 130px;
}
.search-box{
    height: 280px;
    max-width: 100%;
    background-color: #F0F0F0;
}
.search-title{
    font-size: 30px;
    padding-top: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    color: #333333;
    text-align: center;
}
.search-icon{
    height: 17px;
    cursor: pointer;
    // margin-top: 40px;
}
.search-input{
    border: none;
    background-color: inherit;
    width: 400px;
    height: 40px;
    border-radius: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.6px;
    text-align: center;
    color: #2980b9;
}
.pointer{
    pointer-events: auto;
    font-size: 30px;
    color: #2980b9;
    &:hover{
        color: #3498db;
    }
}
.search-line{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.fas{
    margin-left: 12px;
    margin-top: 12px;
}
.page3-wrapper{
    height: 280px;
}
.page3-title{
    font-size: $defaultFontSize;
    color:$defaultBlueColor ;
    margin-top: 40px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.page3-text{
    font-size: 30px;
    color: $defaultBlueColor;
    margin-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}
.page3-text2{
    font-size: $defaultFontSize;
    color: $defaultBlueColor;
    max-width: 420px;
    margin-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 17px;
    letter-spacing: 0.5px;
}
.page3-flex-move{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.change-size{
    margin-left: 70px;
}
.footer{
    height: 75px;
    background-color: #F0F0F0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text1{
    font-size: $defaultFontSize;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 40px;
}
.footer-text2{
    font-size: $defaultFontSize;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 200px;
}
.footer-text3{
    font-size: $defaultFontSize;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 20px;
    padding-left: 340px; 
}
.fa-facebook-square{
    padding-right: 20px;
    font-size: 20px;
    color: $defaultBlueColor;
    &:hover{
        color: #3b5998;
    }
}
.fa-twitter-square{
    padding-right: 20px;
    font-size: 20px;
    color: $defaultBlueColor;
    &:hover{
        color: #00acee;
    }
}
.fa-instagram{
    font-size: 20px;
    color: $defaultBlueColor;
    &:hover{
        color: $defaultBlueColor;
    }
}
