.logo-wrapper{
    width: 250px;
}
.margin-none{
    margin: none;
}
.navigation-a{
    font-size: $defaultFontSize;
    text-transform: uppercase;
    color: $defaultBlueColor;
    line-height: 25px;  
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    color: black;
    &:hover{
        border-bottom: 1px solid red;
        text-decoration: none;
        color: $defaultBlueColor;
    }
}
.navigation-ul{
    display: flex;
    align-items: center;
    padding: 10px;
}
.left{
    margin-left: 122px;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.nav-wrapper{
    width: 100%;
}
.nav-wrapper-box{
    display: flex;
    justify-content: center;
}
// log in

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .log-in-right{
      margin-right: 90px;
  }
  /* Set a style for all buttons */
  button {
    // margin-left: 90px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    // padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: white;
      &:hover{
          color:$defaultBlueColor ;
      }
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
.sig-in-box{
    padding-left: 10px;
}
// log in